<div class="content-padded">
	<div id="welcomepage" class="content-padded">
		
		<div id="welcometext"><h2>Welcome to <i>SocifyMe</i></h2><br>
			<h3>Twitter account:</h3></div>
			<input id="username" type="text" name="username"><br><br>
	
			<div id="login" class="btn btn-success" ontouchend="login()"> Where Am I? </div>
			<div class="ajax-panel" id="ajax-panel"></div>
	</div>
	
	<div id="socifymepage" class="content-padded" style="display: none">
		<div id="gpsTable" ontouchend="login()">
			<h3><div id="hellouser" style="color:Crimson"></div></h3><br>
			<div id="notimportant" style="color:DarkBlue"></div><br>
			<div id="latitude" style="color:DarkBlue"></div><br>
			<div id="longitude" style="color:DarkBlue"></div><br>
		</div>
		<div id="socifymebtn" class="btn btn-success" ontouchend="socifyme()"> SocifyMe! </div>
		<div class="ajax-panel" id="ajax-panel"></div>
		<br><br>
	</div>
	
	<div id="peoplepage" class="content-padded" style="display: none">
	</div>
</div>