<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width">
  <title>SocifyMe</title>

  <link rel="stylesheet" href="/vendor/topcoat/css/topcoat-mobile-light.css" />
  <link rel="stylesheet" href="/stylesheets/application.css" />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

  <script src="/javascripts/onerror.js"></script>
  <script src="/javascripts/console.log.js"></script>

  <!-- cordova.js is served from localhost to ensure the correct version -->
  <script src="http://localhost/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>          
  <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>    

  <script src="/javascripts/application.js"></script>
  <script src="/controllers/<%= yield.controller %>.js"></script>
</head>
<body>

	<%= yield.view %>

</body>
</html>

